nav {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-gap: 15px;
}

nav .brand {
  text-align: center;
  background: #398abb70;
  padding: .8em;
  border-radius: 1em;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul li {
  list-style: none;
  margin: 0 5px;
}

nav ul li .nav-item {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  position: relative;
  padding: 5px 10px;
  font-size: .9em;
}

nav ul li .nav-item:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 0;
  background: #fff;
  left: 0;
  bottom: 0;
  transition: .2s ease-in;
}

nav ul li .nav-item.active:after,
nav ul li .nav-item:hover:after {
  height: 100%;
}