/* Container */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  color: #fff;
}

.container {
  background-color: #03172d;
  width: 45%;
  min-height: 75vh;
  display: grid;
  grid-template-columns: 90px minmax(200px, 1fr);
  grid-gap: 30px;
  border-radius: 20px;
  padding: 2em;
  margin: 5em;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, .3);
}
